body {
  background: navy;
  font-family: Arial, sans-serif;
}

.auth-container {
  width: 360px;
  margin: 100px auto;
  background: white;
  padding: 35px;
  border-radius: 15px;
  text-align: center;
}

.auth-logo {
  width: 80px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid gray;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 18px;
  border: none;
  border-radius: 10px;
  background: navy;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #001f4d;
}