.navbar {
  background: navy;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 35px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}