body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6ff;
}

.page-container {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
  text-align: center;
}

h1 {
  color: navy;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: 0 0 12px lightgray;
}

input {
  width: 85%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid gray;
}

button {
  padding: 12px 18px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background: navy;
  color: white;
  cursor: pointer;
}

#taskList li {
  background: #e6ecff;
  padding: 15px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

#taskList li.done span {
  text-decoration: line-through;
  opacity: 0.6;
}