body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6ff;
}

.page-container {
  max-width: 700px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}

h1 {
  color: navy;
}

.timer-card {
  padding: 40px;
}

#timerDisplay {
  font-size: 70px;
  margin: 20px 0;
  color: navy;
}

.timer-buttons button {
  margin: 10px;
}